/*
   css.css
   
   Copyright 2013 dnclive <dnclive@ubunlive3>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
*/

html
{
	height:100%;
	width:100%;
}

body
{
	height:100%;
	width:100%;
	margin:0;
	font-family: sans-serif;
}

.body
{
	height:100%;
	width:100%;
}

.main
{
	margin:1%;
	height:98%;
	width:98%;
}

.content_left
{
	height: 100%;
	float: left;
	width: 33%;
}

.content_center
{
	height: 100%;
	float: left;
	width: 34%;
}

.content_right
{
	height: 100%;
	float: left;
	width: 33%;
}

.btn
{
	cursor: pointer;
	padding: 10px;
	margin: 5px;
	border-radius: 10px;
	background: #099;
	color: white;
	text-shadow: #333 1px 1px 3px;
	font-size: 120%;
}

.left
{
	float:left;
}

.right
{
	float:right;
}

.hidden
{
	display:none;
}
